.horizontalSlider {
  position: relative;

  &__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    height: 20px;
    z-index: 4002;
  }

  &__thumb {
    position: absolute;
    right: -15px;
    background: blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
  }

  .slide {
    flex: 1 1;
  }
}