
.horizontalSlider {
  position: relative;


  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    transition: transform .25s ease-out;
  }

  .slide {
    flex: 1 1;
    background-size: cover;
    margin-right: -1px;

    &:nth-child(3) {
      background: url('../img/Slide3_1.jpg');
    }
    &:nth-child(2) {
      background: url('../img/Slide3_2.jpg');
    }
    &:nth-child(1) {
      background: url('../img/Slide3_3.jpg');
    }
  }
}