.slide2 {
  background: url('../img/Slide2.jpg');
  position: relative;
  margin-bottom: -1px;

  &__header {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
}