$orange: rgb(247, 139, 32);

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  &__indicators {
    position: absolute;
    top: 50%;
    right: 13px;
    width: 13px;
    z-index: 4001;
    transform: translateY(-50%);
  }

  &__indicator {
    border-radius: 50%;
    height: 13px;
    background: white;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }

    &_active {
      background-color: $orange;
    }
  }
}

.slidesWrapper {
  transition: transform .1s ease;
}
