$orange: rgb(247, 139, 32);

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  &__indicators {
    position: absolute;
    top: 50%;
    right: 13px;
    width: 13px;
    z-index: 4001;
    transform: translateY(-50%);
  }

  &__indicator {
    border-radius: 50%;
    height: 13px;
    background: white;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }

    &_active {
      background-color: $orange;
    }
  }

  &__scrollHint {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: radial-gradient(45% 30% at bottom center, $orange 40%, transparent 100%),
    radial-gradient(40% 80% at bottom center, $orange 30%, transparent 85%);
    text-align: center;
    z-index: 4002;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
      transform: rotate(42deg) skew(-3deg);
    }
  }
}

.slidesWrapper {
  transition: transform .25s ease;
}
